body{
    background-color: rgb(25, 0, 37);
}
.content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:50px;
    padding:10px;
}

.content > div{
    background-color: rgb(80, 21, 136);
    gap:10px;
    padding: 25px;
    color:rgb(188, 188, 188);
    border: 5px solid rgb(78, 15, 136);
    border-radius: 15px;
    text-align: center;
    box-shadow: inset;
    transition: scale 0.5s;
}

.content > div:hover{
    scale: 105%;
}

#display{
    transition: transform 3s;
}